*.o
*.d
*.svg
*.png
*.pdf
*.out
IVcurve.txt
negf_transport
Tests/
Test/
Data/
libs/
libs/eigen-3.3.8.tar.bz2
libs/eigen-3.3.9.tar.gz
libs/eigen-3.3.8/
*.swp
*.swo
*.swn
./Output/*
./Obsolete/*

*.data*
*_alt*
*_old*

*.sh

output.txt

Obsolete/
numerical_integration_test/
numerical_integration_test/*
Results/
Output/
Figures/
folder_test/
Figures/

prepare_analysis
serial_analysis
prepare_datapoints
process_datapoint
test
test_datapoint
