# Configuration file to set the parameters for the cod
# Lines starting by # denote comments. A whole line can be commented or part of a line
# Format: variable_name = value 
# variable_name should match exactly what the code expects, otherwise error is produced
# However, if additional variables are declared that do not occurs in the code, no error
# Formatting can include arbitrary number of white spaces between.
# Types should not be included, they are automatically known at the compliation time by the code

format = hdf5

# Fixed parameters 
# Threads to use in calculation
n_threads = 3
# Scattering system parameters, most given in the geometry file
U = 0.0 # interaction strength

# Important parameters: if lead is normal, 
# DeltaL or DeltaR below do not matter
# If equilibrium, then temperatures are 
# forced to be the same (equal to left lead)
# and bias is set to zero.
#lead_config = closed # SS, SN, NS, NN or closed
lead_config = NS # SS, SN, NS, NN or closed
equilibrium = 0 # 0 or 1
#method = default
#method = Pade
method = real_freq_H_time_independent
#method = closed
#method = real_freq_H_time_periodic

# Lead parameters
# left lead
tL = 30.0 # hopping amplitude of the Left lead
DeltaL = 0.0 # superconducting order parameter at the Left lead
phaseL = 0.0
#muL = 0.0 # chemical potential of the Left lead
TL = 0.002 # Temperature of the left lead

# right lead
tR = 30.0 # hopping amplitude of the Right lead
DeltaR = 1.0 # order parameter at the Right lead
phaseR = 0.0
#muR = 0.0 # chemical potential of the Right lead
TR = 0.002 # Temperature of the right lead

# By convention, the right lead chemical potential is the definition of zero energy
# bias is the left lead chemical potential
bias = 0.5

gate = 0.0

# Lead-system coupling parameters
tLS = 5.3 # system -> left lead hopping amplitude
tRS = 5.3 # system -> right lead hopping amplitude
#tLS = 1.0 # system -> left lead hopping amplitude
#tRS = 1.0 # system -> right lead hopping amplitude
cpoint_L = 0 # left lead contact point in the system
cpoint_R = end # right lead contanct point
#VCL = -1.0 # contact potential 
VCL = 1.0
VCR = 1.0
#VCL = 0.0
#VCR = 0.0

disorder = 0.0 # on-site guassian disorder std. deviation
seed = 1110


# frequency integration cut-off below and above
cutoff_below = -40
cutoff_above = 2.5

# Regularization parameter for Green's functions
ieta = (0.0,1.0e-3)

# Adaptive quadrature parameters
tol_quad = 1.0e-8 # required numerical tolerance for da2glob algorithm

# Current calculation specifications
#current_method = Meirwingreen # method to calculate current, MeirWingreen,UnitCell
current_method = MeirWingreen
lead_idx = 1
direction = 1
#current_method = UnitCell
current_unitc = 2 # in case of method UnitCell, which should be used

# handle to choose the method to calculate
n_approx = 1000 # For Pade summation

n_harmonics = 5 # number of harmonics considered for observables

save_results = 1



# ---- variable parameters (order from outer to inner loop, the rightmost is looped first) ----
# (overrides the constant values)
# variables separated by commas (,) are varied indendently as a grid. 
# ToDo:Two variables combined by + are
# varied together (assuming that they have same number of values,
# otherwise the final value of the shorter list is used for the rest
# possibilities: any above: gate,bias,muL,muR,VB,U,TL,TR,phaseL,phaseR,DeltaL,DeltaR
variables = gate #,VCL+VCR
# ToDo: dependencies of other values via self-consistent initial quess
#scf_depends = U
#variables = gate,bias,U


# gate potentials
#gates = 70:-4.0:0.0
#gates = 65:1.70:2.25
#gates = 40:1.7:2.25
gates = 200:-4.5:2.5
# interaction strengths
#Us = 1:0.0:0.0,3:-0.3:-1.0
#Us = 1:0.0:0.0,3:-0.033:-0.1
Us = 6:-0.0:-0.5
#Us = 1:0.0:0.0
# biases (muR fixed to 0)
#biass = 5:0.04:0.40
#biass = 3:0.0:0.3
biass = 100:0.0:10.0
# VBs
#VBs = 10:0.9:1.1
#left lead phases (multiples of pi)
#phaseLs = 3:0.0:0.5,4:0.55:0.99
phaseLs = 30:0.5:0.99
#left lead temperatues
TLs = 1:0.0:0.0

# preparation interaction strength, if 0, then skip
prep_U = -0.3

# bias 
V0 = 1.00

# initial phase bias (multiples of pi)
phase = 0.0

# initial guess for Delta
init_delta = (-0.5,0.0)

# auxilary
pi = 3.141592653589793238462643383279502884197169

# paths
scf_cfg_path = ./scf_params.cfg
geometry_path = ./geometry.cfg

output_root = ./Data
analysis = Test
output_note = scan_gate
#output_format = type_analysis_note_bias_nc_tC_VB_TL_DeltaL_tL_ieta # possibilities
#output_format = type_note_bias_DeltaL_nc_tC_VB_ieta
#output_format = type_note_bias_DeltaL_nc_tC_ieta
output_format = type_lattice_variables_bias_U_tLS_VCL_DeltaR_TL_disorder
#output_format = type_note_bias_DeltaL_nc_tC
overwrite = 1

cout_precision = 4








